* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list-card {
    width: 250px;
    height: 210px;
    border: 1px solid black;
    margin-bottom: 1rem;
}
.list-card > h2 {
    margin: 1rem 0.5rem;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}
.list-card > p {
    margin: 0.5rem;
}
.list-card > button {
    display: block;
    margin: 0.5rem auto 0 auto;

    width: 50%;
    height: 2rem;
}

.book-card {
    width: 250px;
    border: 1px solid black;
    margin-bottom: 1rem;
}
.book-card > h2 {
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    font-size: 1.5rem;
}
.book-card > img {
    width: 100%;
    height: 350px;
}
.book-card > p {
    margin: 0.5rem;
}
.book-card > p:nth-of-type(1) {
    margin: 0 0.5rem 1rem 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
}
.book-card > button {
    display: block;
    margin: 0.5rem auto 0.5rem auto;

    width: 50%;
    height: 2rem;
}

.off {
    display: none;
}
.scaled {
    display: none;
}